<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Client</title>
</head>
<body>
<div class="login-container">
  <h2>Client Login</h2>
  <form method="post" action="/loginClient">
  <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="motDePasse" placeholder="Mot de passe" required>
    <button type="submit">Se connecter</button>
  </form>
  <div class="error">
    <p th:if="${error}" th:text="${error}"></p>
  </div>
</div>
</body>
</html>
